[Unit]
Description=The piwheels master service
After=local-fs.target network.target

[Service]
Type=notify
Restart=on-failure
User=piwheels
WorkingDirectory=~
NoNewPrivileges=true
ExecStart=/usr/local/bin/piw-master -v

[Install]
WantedBy=multi-user.target

