[Unit]
Description=The piwheels master service
After=local-fs.target network.target

[Service]
Type=notify
WatchdogSec=2min
StartLimitInterval=10min
StartLimitBurst=4
StartLimitAction=reboot-force
Restart=on-failure
User=piwheels
NoNewPrivileges=true
ExecStart=/usr/local/bin/piw-master -v

[Install]
WantedBy=multi-user.target
