html {
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  margin-bottom: 2em;
  background: #444;
}
header .logo {
  background: url('piwheels-logo.opt.svg') no-repeat;
  width: 75px;
  height: 75px;
  display: inline-block;
  vertical-align: middle;
}
/* Oh the silly things you can do with CSS these days... */
header .logo:hover {
  animation: 1s ease 0s 1 normal spin;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(-720deg); }
}
header h1 {
  color: white;
  display: inline;
}
header div.top-bar, header div.top-bar ul { background: #444; }
header .menu-text a { padding: 0; }

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 160px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 140px;
  background: #99999b;
  border-top: 2px solid #77777a;
}

footer .row {
  padding-top: 1em;
  padding-right: 1em;
}
footer .row img {
  float: right;
}
footer p {
  font-size: 11pt;
}
h2 {
  color: #77777a;
  word-wrap: break-all;
}
p { text-align: justify; }
a { color: #222; text-decoration: underline; }

table.stats {
  border-collapse: separate;
  border-radius: 5px;
  background: #8addd5;
  border: 2px solid #15bcac;
  padding: 0.5em;
}
table.stats tbody, table.stats tbody tr { background: transparent; }
table th, table td { text-align: left; padding: 0.25em; }
table.empty th { text-align: center; }

pre {
  background: #ffdead;
  border: 2px solid #ffbd5c;
  border-radius: 5px;
  margin: 1em 2em;
  padding: 1em;
}

#faq h3 {
  font-size: 125%;
  color: #77777a;
}
#faq a.accordion-title {
  background-color: #e6e6e6;
  color: #14679e;
  font-size: 100%;
  text-decoration: none;
}
#faq a.accordion-title:hover { background-color: #d6d6d6; }

#status {
  font-weight: bold;
}
