[Unit]
Description=Piwheels slave health monitor
After=network.target

[Service]
Type=oneshot
ExecStart=/home/piwheels/.venvs/hostedpi/bin/python /opt/piwheels/piwheels/ansible/scripts/slave_monitor.py
StandardOutput=journal
StandardError=journal
SyslogIdentifier=piwheels-slave-monitor
