[defaults]
inventory = inventory/hosts.yml
roles_path = roles
remote_user = root
private_key_file = ~/.ssh/id_rsa
host_key_checking = False
pipelining = True
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible_facts
fact_caching_timeout = 3600

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
